h1.page-title {
    margin: 0 0 13px;
}
body {
    font-family: Puritan2Normal, "Courier New";
    font-size: 10.5pt;
    color: #E4E4CF;
    font-weight: normal;
}
h1,
h2,
h3,
#primary-links a,
input.form-submit,
ul.primary li a,
label,
ul.tabs li a {
    font-family: CarbonTypeRegular;
    font-size: 32px;
    color: #D6CB98;
    font-weight: bold;
    overflow: hidden;
    line-height: normal;
    height: auto;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 9pt;
}
#page-title {
    margin-bottom: 14px;
}
#primary-links a,
label {
    font-size: 11pt;
    color: #B3C8E2;
}
input.form-submit {
    font-size: 10pt;
}
.form-item .description {
    font-size: 10pt;
}
a:link {
    color: #DDCF8A;
    text-decoration: none;
}
a:hover {
    color: #DC6F02;
    text-decoration: none;
}
a:visited {
    color: #E3C946;
}
