/*[fmt]1C40-1C0C-E*/
admin menu links*/
/*+clearfix {*/
.vsc_learningcurve ul#navlist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.vsc_learningcurve ul#navlist {
    display: inline-block;
}
.vsc_learningcurve ul#navlist {
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
html body.admin-menu {
    margin-top: 0 !important;
    overflow: visible;
}
div#admin-menu,
div#admin-menu div,
#admin-menu ul a {
    overflow: visible;
    font-family: Helvetica, Arial;
    font-size: 10px;
    padding: 2px 4px;
}
html body.admin-menu #page-inner {
    padding-top: 20px;
}
.vsc_learningcurve div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
/*global reset*/
body.vsc_learningcurve {
    background-color: #2E2E2E;
    background-image: url(../images/bg-blackboard-full.jpg);
    background-attachment: fixed;
    background-position: bottom right;
    height: 100%;
}
.vsc_learningcurve div {
    overflow: hidden;
}
.vsc_learningcurve #site-name {
    display: none;
}
.vsc_learningcurve #main {
    background-image: url(../images/bg.png);
    margin: 1px 0 5px;
}
.vsc_learningcurve #main #main-inner {
    margin: 10px;
}
.vsc_learningcurve .full-width {
    display: block;
    position: relative;
    width: 100%;
}
.vsc_learningcurve .sidebar div {
    overflow: visible !important;
    background-color: transparent;
}
.vsc_learningcurve ul {
    margin-left: -5px;
    width: auto;
}
/*list styles*/
.vsc_learningcurve ul.inline {
    display: block;
    margin: 8px 0px 11px;
    padding: 0px;
    position: relative;
    text-align: right;
}
.vsc_learningcurve ul.inline li {
    position: relative;
    display: inline;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
.vsc_learningcurve .item-list ul {
    margin-top: 20px;
}
.vsc_learningcurve .item-list ul li {
    margin: 0px;
}
/*navigation styles*/
/*[clearfix]*/.vsc_learningcurve ul#navlist {
    position: static;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.vsc_learningcurve ul#navlist li {
    display: inline;
    font-size: 100%;
    float: none;
    padding: 5px;
    margin: 0px -2px 0px 0px;
}
.vsc_learningcurve ul#navlist a {
    display: inline;
    float: none;
}
.vsc_learningcurve #footer-content {
    text-align: center;
    padding-top: 30px;
}
.vsc_learningcurve .block-region {
    background-color: #747474;
}
.vsc_learningcurve .breadcrumb {
    text-align: right;
    font-size: 12pt;
    color: #101121;
}
/*primary and secondary links*/
.vsc_learningcurve #primary-links ul {
    padding: 0px;
}
.vsc_learningcurve #primary-links {
    background-image: url(../images/bg.png);
}
.vsc_learningcurve #primary-links ul li {
    list-style-type: none;
    display: inline;
    background-image: url(../images/bg-primary.png);
    padding-top: 16px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.vsc_learningcurve #primary-links ul li a {
    color: #5C5C5C;
}
.vsc_learningcurve #primary-links ul li a:hover,
.vsc_learningcurve #primary-links ul li a.active {
    color: #B0B0B0;
}
.vsc_learningcurve #secondary-links {
    display: block;
    position: relative;
    float: none;
    margin-left: 0px;
    padding-left: 0px;
}
.vsc_learningcurve #secondary-links ul {
}
.vsc_learningcurve #secondary-links ul li {
    display: inline;
    margin-left: 0px;
    list-style-type: none;
    padding-right: 8px;
    border-right: 1px solid #9D9D9D;
}
.vsc_learningcurve #secondary-links ul li.last {
    border: 0px solid #000000;
}
.vsc_learningcurve #secondary-links #navlist {
    text-align: right;
}
/*drupal local tasks*/
.vsc_learningcurve ul.primary {
    border-collapse: collapse;
    padding: 0 0 0 1em;
/*LTR*/
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    height: 24px;
    line-height: normal;
    border-bottom: 1px none #BBB;
    background-image: url(../ninesplice/blackboard/h.png);
    background-repeat: repeat-x;
    background-position: 2px 13px;
}
.vsc_learningcurve ul.primary li {
    display: inline;
}
.vsc_learningcurve ul.primary li a {
    background-color: transparent;
/*LTR*/
    padding: 10px 3px 3px;
    text-decoration: none;
    border: 1px none #000000;
    font-size: 9.5pt;
    color: #717171;
}
.vsc_learningcurve ul.primary li a:hover {
    background-color: transparent;
    color: #0B0B0B;
}
.vsc_learningcurve ul.primary li.active a.active {
    background-color: transparent;
    border: 1px none #000000;
    height: 3px;
}
.vsc_learningcurve ul.secondary li.active a {
    color: #D0D0D0;
    background-image: url(../ninesplice/blackboard/corner.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: -8px -6px;
    margin-left: 4px;
    margin-right: 11px;
    padding-left: 11px;
}
.vsc_learningcurve ul.secondary {
    padding-top: 0px;
    background-position: 0px 16px;
    border-bottom: 0px solid #000000;
}
.vsc_learningcurve ul.secondary li {
    display: inline;
    padding: 0 0em 0 10px;
    border-right: 1px none #CCC;
/*LTR*/
}
.vsc_learningcurve ul.secondary li.active a {
    background-position: right bottom;
    padding-bottom: 13px;
    padding-right: 21px;
}
.vsc_learningcurve ul.secondary a.active {
    border-bottom: 4px none #999;
    padding-top: 6px;
}
/*table styles*/
.vsc_learningcurve table {
    width: 100%;
    background-color: transparent;
}
.vsc_learningcurve table tr.odd {
    background-color: #5B5757;
}
.vsc_learningcurve table tr.even {
    background-color: transparent;
}
/*side bar styles*/
.vsc_learningcurve #right.sidebar,
#left.sidebar {
    text-align: left;
    margin-top: 105px;
}
.vsc_learningcurve .sidebar .blackboard .ninesplice-5 {
    display: compact;
    position: relative;
    left: 5px;
    top: -6px;
    overflow: hidden;
}
.vsc_learningcurve .sidebar .blackboard .ninesplice-5 #block-content {
    padding-bottom: 18px;
}
/*pager styles*/
.vsc_learningcurve ul.pager {
    margin-top: 5px;
}
/*user login form styles*/
.vsc_learningcurve #user-login-form {
    text-align: left;
}
.vsc_learningcurve #user-login-form ul li {
    text-align: left;
}
.vsc_learningcurve #user-login-form div.item-list ul li {
    left: 33px;
}
.vsc_learningcurve #user-login-form input {
    display: block;
    position: relative;
    left: 16px;
}
/*form styles*/
.vsc_learningcurve input.form-submit {
    border: 1px solid #6E6F6C;
    padding: 6px;
    background-color: #222222;
    margin-top: 0px;
    cursor: pointer;
}
.vsc_learningcurve input.form-text {
    background-color: transparent;
    border: 1px solid #6E6F6C;
    color: #E0E0E1;
    font-size: 8pt;
    padding: 6px;
}
.vsc_learningcurve #header #search-box {
    /*+placement:anchor-top-right 19px 28px;*/
    position: absolute;
    right: 19px;
    top: 28px;
}
/*terms and links styles*/
.vsc_learningcurve ul.terms {
    display: block;
    width: auto;
}
.vsc_learningcurve ul.terms li {
    display: inline;
}
/*misc*/
.vsc_learningcurve fieldset {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #505050;
}
