TABLE.default TD.ninesplice-1, TABLE.default TD.ninesplice-3, TABLE.default TD.ninesplice-7, TABLE.default TD.ninesplice-9
{
	background-image: url(../ninesplice/default/blueSquare.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}
TABLE.default TD.ninesplice-2, TABLE.default TD.ninesplice-8
{
	background-image: url(../ninesplice/default/h.png);
	background-repeat: repeat-x;
}
TABLE.default TD.ninesplice-4, TABLE.default TD.ninesplice-6
{
	background-image: url(../ninesplice/default/v.png);
	background-repeat: repeat-y;
}
/**
* template for new ninesplice
* replace "blackboard"  with the name of your new ninesplice "theme"
 */
TABLE.blackboard TD.ninesplice-1, TABLE.blackboard TD.ninesplice-3, TABLE.blackboard TD.ninesplice-7, TABLE.blackboard TD.ninesplice-9
{
	background-image: url(../ninesplice/blackboard/corner.png);
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}
TABLE.blackboard TD.ninesplice-2, TABLE.blackboard TD.ninesplice-8
{
	background-image: url(../ninesplice/blackboard/h.png);
	background-repeat: repeat-x;
}
TABLE.blackboard TD.ninesplice-4, TABLE.blackboard TD.ninesplice-6
{
	background-image: url(../ninesplice/blackboard/v.png);
	background-repeat: repeat-y;
}
/*you don't have to touch these below*/
TABLE#ninesplice, TABLE#ninesplice TH, TABLE#ninesplice TR, TABLE#ninesplice TD, TABLE#ninesplice TBODY
{
	margin: 0;
	padding: 0;
	border: 0 none #FFFFFF;
}
TABLE TD.ninesplice-5
{
	background-color: transparent;
}
TABLE TD.ninesplice-1, TABLE TD.ninesplice-4
{
	background-position: top left;
}
TABLE TD.ninesplice-2
{
	background-position: top center;
}
TABLE TD.ninesplice-3, TABLE TD.ninesplice-6
{
	background-position: top right;
}
TABLE TD.ninesplice-7
{
	background-position: bottom left;
}
TABLE TD.ninesplice-8
{
	background-position: bottom center;
}
TABLE TD.ninesplice-9
{
	background-position: bottom right;
}
